 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Glitch+Pop&display=swap')
 body{
    background:linear linearGradient (#b96c144b, #963c5ccc);
}
h1 {
font-size: 25px; 
font-family: Honk&family ;
background-color: black;

}
h2{

font-size: 25px; 
font-family:Dancing Script;

}
h3{

    font-size: 25px;
    font-family: Dancing Script;
}
h4{

    font-size: 25px;
    font-family:Dancing Script;
}
h5{

    font-size: 25px;
    font-family:Dancing Script;
}
}
.img1{
    width: 30%;
}
.img2{
    width: 25%;
}
.img3{
    width: 25%;
}
.img