body{
    background-color: darkred;
    background-image: linear gradient (rgb(185, 108, 20)), rgb(56,22,34, 0.800));
    
}
h1 {
font-size: 25px; 
bacckground-color: black;

}
h2{

font-size: 25px; 

}
h3{

    font-size: 25px;
}
h4{

    font-size: 25px;
}
h5{

    font-size: 25px;
}
h6{

    font-size: 25px;
}
h7{

    font-size: 25px;
}
h8{

    font-size: 25px;
}