 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Glitch+Pop&display=swap')
body{
    background: linear-gradient(45deg, #e9a7a7 0%,#f4f5bf 100%);
 
}
h1 {
font-size: 25px; 
font-family: Honk&family ;
background-color: black;

}

h2{

font-size: 25px; 
font-family:Dancing Script;

}
h3{

    font-size: 25px;
    font-family: Dancing Script;
}
h4{

    font-size: 25px;
    font-family:Dancing Script;
}
h5{

    font-size: 25px;
    font-family:Dancing Script;
}
}
.img1{
    width: 30%;
}
.img2{
    width: 25%;
}
.img3{
    width: 25%;
}
.img
