body{
    
    background:linear-gradient(#b96c144b, #963c5ccc);
    
}
h1 {
font-size: 25px; 
bacckground-color: black;

}
h2{

font-size: 25px; 

}
h3{

    font-size: 25px;
}
h4{

    font-size: 25px;
}
h5{

    font-size: 25px;
}
h6{

    font-size: 25px;
}
h7{

    font-size: 25px;
}
h8{

    font-size: 25px;
}